.app
{
  padding: 80px 40px;
}
.button
{
  display: block;
  position: center;
  width: 145px;
  padding: 14px 25px;
  text-transform: uppercase;
  border: 1px solid #3a4e62;
  border-radius: 3px;
  background-color: #3a4e62;
  color: #FFFFFF;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 0.3px;
  outline: none;
  transition: ease .3s;
  cursor: pointer;
}
.button:active
{
  background-color: red;
  color: white;
}



.button:hover
{
  /* border: none; */
  background: #3e5972;
  color: #fff;
  transition: all 0.3s ease 0s;


}

/*
padding: 14px 25px;
font-size: 15px;
line-height: 1.2;
border: 1px solid #000;
border-radius: 3px;
box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;

transition: ease .3s;
opacity: 0;
transform: translateY(15px);
cursor: pointer;


*/