.app
{
  padding: 80px 40px;
}
.button
{
  display: block;
  width: 145px;
  padding: 14px 0;
  text-transform: uppercase;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 14px;
  letter-spacing: 0.3px;
  outline: none;
  transition: ease .3s;
  cursor: pointer;
}
.button:active
{
  background-color: #000;
  color: #fff;
}



.button:hover
{
  background-color: #000;
  color: #fff;
}


