.intro
{
  padding-top: 10%;
  text-align: center;
  position: relative;

}
.intro__button
{
  margin-top: 70%;
  margin: 0 auto;
  position: center;
  color: #FFFFFF;
  background-color: #FFFFFF;
  font-size: 14px;
  width: 35%;
}
.intro__title
{
  font-size: 50px;
  color: #3A4E62;
  font-weight: 700;
  font-family: Helvetica;
  margin-bottom: 55px;
}
