.quiz-content
{
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
  max-height: 100px;
}
.quiz-question
{
  font-size: 23px;
  color: #3A4E62;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 40px;
}
.quiz-options
{
  display: flex;
  justify-content: center;
  max-height: 120px;
  min-width: 50px;
}
.quiz-options__item
{
  padding: 14px 25px;
  font-size: 15px;
  line-height: 1.2;
  border: 1px solid #3e5972;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  transition: ease .3s;
  opacity: 0;
  transform: translateY(15px);
  cursor: pointer;
}


.quiz-content.active .quiz-options__item:nth-child(1)
{
  animation: fadeIn ease .3s .1s forwards;
}
.quiz-content.active .quiz-options__item:nth-child(2)
{
  animation: fadeIn ease .3s .2s forwards;
}
.quiz-content.active .quiz-options__item:nth-child(3)
{
  animation: fadeIn ease .3s .3s forwards;
}
.quiz-content.active .quiz-options__item:nth-child(4)
{
  animation: fadeIn ease .3s .4s forwards;
}
@keyframes fadeIn
{
  0%
  {
    opacity: 0;
    transform: translateY(15px);
  }
  100%
  {
    opacity: 3;
    transform: translateY(0);
  }
}




.quiz-options__item:not(:last-of-type)
{
  margin-right: 25px;
}

.quiz-options__item:active
{
  background-color: #3e5972;
  color: #fff;
}

.quiz-options__item:hover
{
  background-color: #3e5972;
  color: #fff;
}




.quiz .button
{
  margin: 0 auto;
}

/*
.progress-bar 
{
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;
}

*/

.progress-bar {
  position: fixed;
  bottom: 10;
}

.taskslist-container .progress-bar {
  position: relative;

  width: 90%;
  height: 400px;
  text-align: center;
  margin-bottom: 10rem;
  font-size: 40px;
  background-color: green;
}

.progress-bar-outside {
  position: fixed;
  margin-top: 100px;
  background-color: #AEB8BF;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  align-content: center;
  width: 60%;
  margin-left: 200px;
  margin-right: 200px;
  height: 25px;

}

.progress-bar-inside {
  padding-top: 15px;
  background-color: #2CCA27;
  border-radius: 3px;
  width: 80%;
  height: 25px;
  transition: 300ms width;
  will-change: width;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 11px;
}

/*




.progress-bar-outside {
  position: fixed;
  margin-top: 100px;
  background-color: #AEB8BF;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  align-content: center;
  width: 47%;
  margin-left: 235px;
  margin-right: 130px;
  height: 25px;

}

*/